
a.App-cta.transparent, button.App-cta.transparent {
  box-shadow: none;
  background: none;
  color: hsla(0,0%,100%,.7);
  opacity: 1;
  border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header.large {
  height: 6.2rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  background: transparent 0 0 no-repeat padding-box;
  border-bottom: 1px solid hsla(0,0%,100%,.06274509803921569);
}

.App-header-container-right, .App-header-user {
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-box, .App-box-highlight, .App-box-solid, .App-card, .App-card-primary {
  position: relative;
  border: 1px solid #1e2136;
  border-radius: 0.4rem;
  background: #16182e;
  font-size: 1.5rem;
}

.App-header-user-link {
  margin-right: 2.4rem;
}

.App-header-user-netowork{
  margin-right: 5px;
}

.Wallet-btn:hover {
  background: var(--dark-blue-hover);
  border-color: var(--dark-blue-border);
}

.Wallet-btn {
  display: block;
  box-shadow: inset 0 0 1rem 0.5rem rgb(27 30 46 / 20%);
  background: var(--dark-blue);
  height: 5.1rem;
  width: 26.35rem;
  border: 1px solid var(--dark-blue-border);
  border-radius: 0.3rem;
  position: relative;
  color: #fff;
  font-size: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: left;
  padding-left: 1.85rem;
  padding-top: 1.05rem;
}
.MetaMask-btn img {
  display: inline-block;
  height: 2.325rem;
  margin-right: 1.7rem;
  margin-left: 0.15rem;
}
.CoinbaseWallet-btn img {
  display: inline-block;
  height: 2.8rem;
  margin-right: 1.7rem;
}
.WalletConnect-btn img {
  display: inline-block;
  height: 2.8rem;
  margin-right: 1.8rem;
}
.Wallet-btn:not(:last-child) {
  margin-bottom: 1.05rem;
}

a.App-cta:hover, div.App-cta:hover:enabled {
  background: linear-gradient(90deg,#3a4efc,#3344de);
  box-shadow: 0 0 0.4rem 0.6rem rgb(45 66 252 / 20%);
}
a.App-cta, div.App-cta {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(90deg,#2d42fc,#2e3dcd);
}

.App-cta {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 1.5rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.4rem;
}
.Exchange-swap-button-container {
  padding-top: 0.31rem;
}

a.App-cta:hover, div.App-cta:hover:enabled {
  background: linear-gradient(90deg,#3a4efc,#3344de);
  box-shadow: 0 0 0.4rem 0.6rem rgb(45 66 252 / 20%);
}